/* Geral */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

main {
    margin: 0 2rem;
    text-align: justify;
}

body {
    font-family: 'roboto', 'sans-serif';
    background-color: #f5f3f4;
}

a {
    text-decoration: none;
}

/* Header */

.navbar {
    background-color: #a3cef1;
    width: 100%;
    position: fixed;
    align-items: center;
    display: block;
    z-index: 3;
}

.navbar-brand {
    color: #1b4965 !important;
    text-transform: uppercase;
    padding: 1rem 2em;
    font-weight: 600;
    font-size: 0.9rem;
}

.nav-link {
    color: #1b4965 !important;
    text-transform: uppercase;
    margin: 0 1.5rem;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline dotted 0.2rem;
    border-radius: 0.625rem;
}

/*Títulos */

h1 {
    padding-top: 6.25rem;
    text-transform: uppercase;
    text-align: center;
    color: #1b4965;
    font-weight: 600;
    font-size: 3.75rem;
}

h2 {
    padding-top: 6.25rem;
    padding-bottom: 3.125rem;
    font-size: 3.125rem;
    color: #1b4965;
}

h4 {
    font-weight: 600;
    text-align: center;
}

/* links no texto */

.link-texto {
    color: black;
}

.link-texto:hover {
    color: #274c77;
}

/*Seção - Hello World */

#ana-clara-foto {
    height: 12.5rem;
    border-radius: 50%;
    float: left;
    margin: auto;
}

#apresentacao p {
    text-align: justify;
    padding-left: 15.625rem;
    padding-top: 10px;
}

/* Linha do Tempo - Formação e experiência */

/* ** régua ** */
.linha-do-tempo {
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
}

.linha-do-tempo::after {
    content: '';
    position: absolute;
    width: 0.375rem;
    background-color: #233d4d;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.188rem;
}

/* **container** */
.container-linha {
    padding: 0.625rem 2.5rem;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* **bolinhas** */
.container-linha::after {
    content: '';
    position: absolute;
    width: 1.563rem;
    height: 1.563rem;
    right: -0.813rem;
    background-color: white;
    border: 0.25rem solid #233d4d;
    top: 0.938rem;
    border-radius: 50%;
    z-index: 1;
}

/* **posicionamento** */
.esquerda {
    left: 0;
}

.direita {
    left: 50.3%;
}

/* **setas** */
.esquerda::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.735rem;
    width: 0;
    z-index: 1;
    right: 1.875rem;
    border: medium solid #f3722c;
    border-width: 0.625rem 0 0.625rem 0.625rem;
    border-color: transparent transparent transparent #f3722c;
}

.direita::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.375rem;
    width: 0;
    z-index: 1;
    left: 1.875rem;
    border: medium solid #f3722c;
    border-width: 0.625rem 0.625rem 0.625rem 0;
    border-color: transparent #f3722c transparent transparent;
}

.direita::after {
    left: -1rem;
}

/* **conteúdo** */
.conteudo {
    padding: 1.25rem 1.875rem;
    background-color: #ffe3e0;
    position: relative;
    border-radius: 0.375rem;
    border: 0.188rem solid #f3722c;
}

.conteudo p {
    margin-top: 0.5rem;
}

.centralizar {
    text-align: center;
    margin-top: 0;
}

.negrito {
    font-weight: 600;
}

/* **media queries** */
@media screen and (max-width: 600px) {
      .linha-do-tempo::after {
        left: 1.938rem;
      }
    
      .container {
        width: 100%;
        padding-left: 4.375rem;
        padding-right: 1.563rem;
      }
    
      .container::before {
        left: 3.75rem;
        border: medium solid white;
        border-width: 0.625rem 0.625rem 0.625rem 0;
        border-color: transparent white transparent transparent;
      }
    
      .esquerda::after, .direita::after {
        left: 0.938rem;
      }
    
      .direita {
        left: 0%;
      }
}

/* Habilidades */

.linguagens-imagens {
    height: 6rem;
    margin: 1rem 2.5rem;
}

#tecnologias {
    align-content: center;
}


/* Certificados */

li {
 
    margin: 0.5rem auto;
}

ul {
    margin-bottom: 1rem;
    list-style-type: circle;
}

#carouselExampleControls {
    margin: auto;
}

/* Idiomas */

.bandeiras {
    height: 5rem;
}

#linguas {
   display: flex;
   justify-content: space-around;
}

#linguas p {
    font-weight: 600;
    text-align: center;
}

/* Área de e-mail */

#botao-contato {
    display: block;
    width: 20%;
    padding: 0.938rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 10rem;
    background-color: #1b4965;
    border: 1px solid #bec2ed;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: #a3cef1;
    font-weight: 600;
    text-transform: uppercase;
}

#botao-contato:hover{
    background-color: #a3cef1;
    color: #1b4965;
}

/* Footer */

.redes {
    height: 5rem;
}

footer {
    background-color: #a3cef1;
}

#explicacao-footer {
    margin: 0;
}

#rodape {
    font-weight: 600;
    text-align: center;
}

#redes-sociais {
    display: flex;
    justify-content: center;
}

footer p {
    text-align: center;
}

footer a {
    margin: 0 5rem 3rem 5rem;
}